body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background: rgb(210, 210, 210);
  color: white;
}

body,
.content,
.options {
  display: flex;
  flex-direction: column;
}

.radio-buttons,
.gameboard,
.cell {
  display: flex;
}

.content {
  justify-content: center;
  align-items: center;
  margin: 24px;
}

header,
footer,
.options {
  background: rgb(60, 60, 150);
  text-align: center;
}

.options {
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 2px solid rgb(100, 100, 200);
  border-radius: 4px;
  box-sizing: border-box;
}

.radio-buttons {
  justify-content: center;
  align-items: center;
}

.radio-button {
  margin: 0px 12px;
  font-size: 1.4rem;
}

.options,
#mark-info,
.ai,
.button,
.not-started,
.started {
  margin-bottom: 4px;
}

.not-started,
.started {
  color: black;
}

.not-started {
  background: rgb(200, 150, 150);
}

.started {
  background: rgb(150, 150, 200);
}

.button {
  background: rgb(150, 60, 60);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid rgb(120, 120, 210);
  border-radius: 4px;
  width: 150px;
}

.button:disabled {
  background: rgb(150, 150, 150);
}

.gameboard {
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 6px;
  box-sizing: border-box;
  background: rgb(50, 50, 50);
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  user-select: none;
}

.x {
  color: rgb(250, 60, 60);
}

.o {
  color: rgb(250, 250, 0);
}

.cell:hover {
  background: rgb(60, 60, 60);
}

#winner-info {
  height: 30px;
  padding: 4px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #82487F;
}

footer {
  padding: 24px;
  height: 100%;
}

